<a href="https://colab.research.google.com/github/Hamilton-at-CapU/comp115/blob/main/lessons/lesson05_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collections

A **collection** is an object that contains other objects.  You can think of it like the English word collection, a car collection is a bunch of cars, a toy collection is a bunch of toys.  Each item stored in the collection is called an **element**.  There are several build-in collection types in Python, including:

*   **Strings**: Ordered and immutable collections whose elements must be characters.  Elements are accessed by an integer index.  Strings are created by enclosing characters in quotes, like `'spam'` or `"hamster"`.
*   **Lists**: Ordered and mutable collections whose elements can be any type.  Elements are accessed by an integer index.  List syntax has comma-separated elements enclosed in square brackets `[]`, like `[1, 2, 3]` or `['a', 'b', 'c']`.
*   **Tuples**: Ordered and immutable collections whose elements can be any type.  Elements are accessed by an integer index.  Tuple syntax has comma-separated elements enclosed in round brackets `()`, like `(1, 2, 3)` or `('a', 'b', 'c')`.
*   **Dictionaries**: Unordered and mutable collections whose elements are key-value pairs, where the keys are unique and hashable.  Dictionary syntax has comma-separated `key`:`value` pairs enclosed in curly brackets `{}`, like `{'a':1, 'b':2, 'c':3}` .
*   **Sets**: Unorderd and mutable collections of unique, hashable elements.  Set syntax has elements enclosed in curly brackets `{}`, like `{1, 2, 3}` or `{'a', 'b', 'c'}`.

There is a lot packed in there.  Let's define some of the words to help us unpack what it all means.

**Ordered** collections have elements arranged in a particular order.  They are called **sequences** and each element can be accessed using an integer index that represents the position of the element appears in the sequence.  **Unordered** collections are not arranged in a specific order and thus you can not use an integer index to access an element.

**Mutable** collections can be changed (or 'mutated') after they have been created.  **Immutable** collections can not be changed after they have been created.  The important difference between mutable and immutable will become clearer when we learn more about lists and tuples.

A **hashable** object has a permanent, unchanging 'fingerprint' (called a hash value).  For example, a person's name is not a hash value because you can change it.  A person's Social Insurance Number is more like a hash value because it does not change over you lifetime.  The concept of hashable will become clearer when we learn about dictionaries.  

This lesson will cover each of these collection types in detail.

### Before you begin...

Once again, before working through the lesson, run the following code.

In [43]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    if not exists(filename):
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + str(local))
    return filename

download('https://github.com/AllenDowney/ThinkPython/raw/v3/thinkpython.py');
download('https://github.com/AllenDowney/ThinkPython/raw/v3/diagram.py');

import thinkpython

## Ordered Collections (Sequences)

Here are some examples of the ordered collections (strings, lists, and tuples).  Following this quick introduction to the syntax, I will explain some useful functions that work for all sequences and point out some of the important differences between mutable and immutable sequences.

### Strings

Strings are created by enclosing characters in quotes.

In [2]:
fruit = 'banana'

Here are the index values of each element in the `fruit` string.

In [ ]:
for i in range(len(fruit)):
  print(f'fruit[{i}] is {fruit[i]}')

An empty string can be created using quotes with nothing between them.

In [4]:
empty_string = ''

### Lists

List can be created using comma-separated elements enclosed in square brackets `[]`

In [45]:
numbers = [42, 123]

And here's a list of three strings.

In [25]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

The elements of a list don't have to be the same type.
The following list contains a string, a float, and an integer.

In [12]:
mixed = ['spam', 2.0, 5]

Here are the index values of each element in the `mixed` string.

In [21]:
for i in range(len(mixed)):
  print(f'mixed[{i}] is {mixed[i]}')



A list that contains no elements is called an empty list; you can create
one with empty brackets, `[]`.

In [ ]:
empty_list = []

### Tuples

Tuples can be created using comma-separated elements enclosed in round brackets `()`.

In [19]:
animals = ('cat', 'dog', 'frog')

In [20]:
stuff = ('ball', 67, 'potato', 3.14)

Here are the index values of each element in the `stuff` tuple.

In [22]:
for i in range(len(stuff)):
  print(f'stuff[{i}] is {stuff[i]}')

A tuple that contains no elements can be created with empty brackets, `()`.

In [ ]:
empty_tuple = ()

### Indexing

Notice that the elements of all the sequence types above (strings, lists, and tuples) are denoted using the `[i]` syntax, where `i` is an integer representing the index of the element, starting from `0`.

You can access the third element of the `stuff` tuple with `stuff[2]` (note that `[2]` is the third element, not the second, because index counting starts at zero).

In [52]:
stuff[2]

Similarly for the `cheeses` list

In [51]:
cheeses[0]

Negative integers are valid indecies.  Index `-1` is the last element, `-2` is the second last element, etc.  This means that `cheeses[-1]` is the last cheese in our `cheeses` list and `stuff[-4]` is the first element of our `stuff` tuple.

In [53]:
cheeses[-1]

In [54]:
stuff[-4]

Note that `stuff` has four elements, so while `stuff[4]` will be an invalid index, `stuff[-4]` is a valid index because the negative counting starts from `-1`, not from `0`.

### Slices

A segment of a sequence is called a **slice**.  Selecting a slice is similar to selecting an element using its index, except that you use `[n:m]` to return the part of the string from the `n`th element to the `m`th element, including the first but excluding the second.

In [27]:
fruit = 'banana'
fruit[0:3]

The behavior of not including the `m`th element may seem counter intuitive, but I like to think about it this way.  A slice from `0` to `3` should include 3 elements because 3-0=3. Staring with the `0` element (because counting in Python always starts with 0), the three elements of the slice should be `0`, `1`, and `2`.

For example, the slice `[3:6]` selects the letters `ana`.  Note that `6` is legal as the second part of a slice, but not legal as an index.

In [28]:
fruit[3:6]

If you omit the first index, the slice starts at the beginning of the sequence.

In [30]:
fruit[:4]

If you omit the second index, the slice goes to the end of the sequence:

In [31]:
fruit[2:]

If the first index is greater than or equal to the second, the result is an **empty sequence**:

In [32]:
fruit[3:3]

Continuing this example, what do you think `fruit[:]` means? Try it and
see.

In [33]:
fruit[:]

Note that the above example used a string to demonstrate slicing, but slicing works for all ordered collections.  Here are some slicing examples with our `cheeses` list and our `stuff` tuple.

In [34]:
cheeses[1:]

In [35]:
stuff[2:4]

## Nesting

A collection can be **nested** within another collection.

In [13]:
nested = ['spam', 42, 22.5, [10, 20]]

In [15]:
for i in range(len(nested)):
  print(f'nested[{i}] is {nested[i]}')

To access a nested list, you can use multiple `[]`'s.

In [16]:
print(nested[3][0])
print(nested[3][1])

This works because `mixed[3]` is really just the list `[10, 20]`, so `mixed[3][0]` is the `[0]` element of `[10, 20]`.

Accessing the elements of a nested string is the same.

In [18]:
print(nested[0][0])
print(nested[0][1])
print(nested[0][2])
print(nested[0][3])

## Some Useful Collection Functions and Operators

### `len`

The `len` function returns the length of a collection.

In [50]:
len(cheeses)

The length of an empty list is `0`.

In [47]:
empty = []
len(empty)

## Lists are mutable

To read an element of a list, we can use the bracket operator.
The index of the first element is `0`.

In [ ]:
cheeses[0]

Unlike strings, lists are mutable. When the bracket operator appears on
the left side of an assignment, it identifies the element of the list
that will be assigned.

In [ ]:
numbers[1] = 17
numbers

The second element of `numbers`, which used to be `123`, is now `17`.

List indices work the same way as string indices:

-   Any integer expression can be used as an index.

-   If you try to read or write an element that does not exist, you get
    an `IndexError`.

-   If an index has a negative value, it counts backward from the end of
    the list.

The `in` operator works on lists -- it checks whether a given element appears anywhere in the list.

In [ ]:
'Edam' in cheeses

In [ ]:
'Wensleydale' in cheeses

Although a list can contain another list, the nested list still counts as a single element -- so in the following list, there are only four elements.

In [ ]:
t = ['spam', 2.0, 5, [10, 20]]
len(t)

And `10` is not considered to be an element of `t` because it is an element of a nested list, not `t`.

In [ ]:
10 in t

## List slices

The slice operator works on lists the same way it works on strings.
The following example selects the second and third elements from a list of four letters.

In [ ]:
letters = ['a', 'b', 'c', 'd']
letters[1:3]

If you omit the first index, the slice starts at the beginning.

In [ ]:
letters[:2]

If you omit the second, the slice goes to the end.

In [ ]:
letters[2:]

So if you omit both, the slice is a copy of the whole list.

In [ ]:
letters[:]

Another way to copy a list is to use the `list` function.

In [ ]:
list(letters)

Because `list` is the name of a built-in function, you should avoid using it as a variable name.

## List operations

The `+` operator concatenates lists.

In [ ]:
t1 = [1, 2]
t2 = [3, 4]
t1 + t2

The `*` operator repeats a list a given number of times.

In [ ]:
['spam'] * 4

No other mathematical operators work with lists, but the built-in function `sum` adds up the elements.

In [ ]:
sum(t1)

And `min` and `max` find the smallest and largest elements.

In [ ]:
min(t1)

In [ ]:
max(t2)

## List methods

Python provides methods that operate on lists. For example, `append`
adds a new element to the end of a list:

In [ ]:
letters.append('e')
letters

`extend` takes a list as an argument and appends all of the elements:

In [ ]:
letters.extend(['f', 'g'])
letters

There are two methods that remove elements from a list.
If you know the index of the element you want, you can use `pop`.

In [ ]:
t = ['a', 'b', 'c']
t.pop(1)

The return value is the element that was removed.
And we can confirm that the list has been modified.

In [ ]:
t

If you know the element you want to remove (but not the index), you can use `remove`:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')

The return value from `remove` is `None`.
But we can confirm that the list has been modified.

In [ ]:
t

If the element you ask for is not in the list, that's a ValueError.

In [ ]:
%%expect ValueError

t.remove('d')

## Lists and strings

A string is a sequence of characters and a list is a sequence of values,
but a list of characters is not the same as a string.
To convert from a string to a list of characters, you can use the `list` function.

In [ ]:
s = 'spam'
t = list(s)
t

The `list` function breaks a string into individual letters.
If you want to break a string into words, you can use the `split` method:

In [ ]:
s = 'pining for the fjords'
t = s.split()
t

An optional argument called a **delimiter** specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter.

In [ ]:
s = 'ex-parrot'
t = s.split('-')
t

If you have a list of strings, you can concatenate them into a single string using `join`.
`join` is a string method, so you have to invoke it on the delimiter and pass the list as an argument.

In [ ]:
delimiter = ' '
t = ['pining', 'for', 'the', 'fjords']
s = delimiter.join(t)
s

In this case the delimiter is a space character, so `join` puts a space
between words.
To join strings without spaces, you can use the empty string, `''`, as a delimiter.

## Looping through a list

You can use a `for` statement to loop through the elements of a list.

In [ ]:
for cheese in cheeses:
    print(cheese)

For example, after using `split` to make a list of words, we can use `for` to loop through them.

In [ ]:
s = 'pining for the fjords'

for word in s.split():
    print(word)

A `for` loop over an empty list never runs the indented statements.

In [ ]:
for x in []:
    print('This never happens.')

## Sorting lists

Python provides a built-in function called `sorted` that sorts the elements of a list.

In [ ]:
scramble = ['c', 'a', 'b']
sorted(scramble)

The original list is unchanged.

In [ ]:
scramble

`sorted` works with any kind of sequence, not just lists. So we can sort the letters in a string like this.

In [ ]:
sorted('letters')

The result is a list.
To convert the list to a string, we can use `join`.

In [ ]:
''.join(sorted('letters'))

With an empty string as the delimiter, the elements of the list are joined with nothing between them.

## Objects and values

If we run these assignment statements:

In [ ]:
a = 'banana'
b = 'banana'

We know that `a` and `b` both refer to a string, but we don't know whether they refer to the *same* string.
There are two possible states, shown in the following figure.

In [ ]:
from diagram import Frame, Stack

s = 'banana'
bindings = [Binding(Value(name), Value(repr(s))) for name in 'ab']
frame1 = Frame(bindings, dy=-0.25)

binding1 = Binding(Value('a'), Value(repr(s)), dy=-0.11)
binding2 = Binding(Value('b'), draw_value=False, dy=0.11)
frame2 = Frame([binding1, binding2], dy=-0.25)

stack = Stack([frame1, frame2], dx=1.7, dy=0)

In [ ]:
width, height, x, y = [2.85, 0.76, 0.17, 0.51]
ax = diagram(width, height)
bbox = stack.draw(ax, x, y)
# adjust(x, y, bbox)

In the diagram on the left, `a` and `b` refer to two different objects that have the
same value. In the diagram on the right, they refer to the same object.
To check whether two variables refer to the same object, you can use the `is` operator.

In [ ]:
a = 'banana'
b = 'banana'
a is b

In this example, Python only created one string object, and both `a`
and `b` refer to it.
But when you create two lists, you get two objects.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

So the state diagram looks like this.

In [ ]:
t = [1, 2, 3]
binding1 = Binding(Value('a'), Value(repr(t)))
binding2 = Binding(Value('b'), Value(repr(t)))
frame = Frame([binding1, binding2], dy=-0.25)

In [ ]:
width, height, x, y = [1.16, 0.76, 0.21, 0.51]
ax = diagram(width, height)
bbox = frame.draw(ax, x, y)
# adjust(x, y, bbox)

In this case we would say that the two lists are **equivalent**, because they have the same elements, but not **identical**, because they are not the same object.
If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

## Aliasing

If `a` refers to an object and you assign `b = a`, then both variables refer to the same object.

In [ ]:
a = [1, 2, 3]
b = a
b is a

So the state diagram looks like this.

In [ ]:
t = [1, 2, 3]
binding1 = Binding(Value('a'), Value(repr(t)), dy=-0.11)
binding2 = Binding(Value('b'), draw_value=False, dy=0.11)
frame = Frame([binding1, binding2], dy=-0.25)

In [ ]:
width, height, x, y = [1.11, 0.81, 0.17, 0.56]
ax = diagram(width, height)
bbox = frame.draw(ax, x, y)
# adjust(x, y, bbox)

The association of a variable with an object is called a **reference**.
In this example, there are two references to the same object.

An object with more than one reference has more than one name, so we say the object is **aliased**.
If the aliased object is mutable, changes made with one name affect the other.
In this example, if we change the object `b` refers to, we are also changing the object `a` refers to.

In [ ]:
b[0] = 5
a

So we would say that `a` "sees" this change.
Although this behavior can be useful, it is error-prone.
In general, it is safer to avoid aliasing when you are working with mutable objects.

For immutable objects like strings, aliasing is not as much of a problem.
In this example:

In [ ]:
a = 'banana'
b = 'banana'

It almost never makes a difference whether `a` and `b` refer to the same
string or not.

## List arguments

When you pass a list to a function, the function gets a reference to the
list. If the function modifies the list, the caller sees the change. For
example, `pop_first` uses the list method `pop` to remove the first element from a list.

In [ ]:
def pop_first(lst):
    return lst.pop(0)

We can use it like this.

In [ ]:
letters = ['a', 'b', 'c']
pop_first(letters)

The return value is the first element, which has been removed from the list -- as we can see by displaying the modified list.

In [ ]:
letters

In this example, the parameter `lst` and the variable `letters` are aliases for the same object, so the state diagram looks like this:

In [ ]:
lst = make_list('abc', dy=-0.3, offsetx=0.1)
binding1 = Binding(Value('letters'), draw_value=False)
frame1 = Frame([binding1], name='__main__', loc='left')

binding2 = Binding(Value('lst'), draw_value=False, dx=0.61, dy=0.35)
frame2 = Frame([binding2], name='pop_first', loc='left', offsetx=0.08)

stack = Stack([frame1, frame2], dx=-0.3, dy=-0.5)

In [ ]:
width, height, x, y = [2.04, 1.24, 1.06, 0.85]
ax = diagram(width, height)
bbox1 = stack.draw(ax, x, y)
bbox2 = lst.draw(ax, x+0.5, y)
bbox = Bbox.union([bbox1, bbox2])
adjust(x, y, bbox)

Passing a reference to an object as an argument to a function creates a form of aliasing.
If the function modifies the object, those changes persist after the function is done.

## Making a word list

In the previous chapter, we read the file `words.txt` and searched for words with certain properties, like using the letter `e`.
But we read the entire file many times, which is not efficient.
It is better to read the file once and put the words in a list.
The following loop shows how.

In [ ]:
download('https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/words.txt');

In [ ]:
word_list = []

for line in open('words.txt'):
    word = line.strip()
    word_list.append(word)

len(word_list)

Before the loop, `word_list` is initialized with an empty list.
Each time through the loop, the `append` method adds a word to the end.
When the loop is done, there are more than 113,000 words in the list.

Another way to do the same thing is to use `read` to read the entire file into a string.

In [ ]:
string = open('words.txt').read()
len(string)

The result is a single string with more than a million characters.
We can use the `split` method to split it into a list of words.

In [ ]:
word_list = string.split()
len(word_list)

Now, to check whether a string appears in the list, we can use the `in` operator.
For example, `'demotic'` is in the list.

In [ ]:
'demotic' in word_list

But `'contrafibularities'` is not.

In [ ]:
'contrafibularities' in word_list

And I have to say, I'm anaspeptic about it.

## Debugging

Note that most list methods modify the argument and return `None`.
This is the opposite of the string methods, which return a new string and leave the original alone.

If you are used to writing string code like this:

In [ ]:
word = 'plumage!'
word = word.strip('!')
word

It is tempting to write list code like this:

In [ ]:
t = [1, 2, 3]
t = t.remove(3)           # WRONG!

`remove` modifies the list and returns `None`, so next operation you perform with `t` is likely to fail.

In [ ]:
%%expect AttributeError

t.remove(2)

This error message takes some explaining.
An **attribute** of an object is a variable or method associated with it.
In this case, the value of `t` is `None`, which is a `NoneType` object, which does not have a attribute named `remove`, so the result is an `AttributeError`.

If you see an error message like this, you should look backward through the program and see if you might have called a list method incorrectly.

## Glossary

**list:**
 An object that contains a sequence of values.

**element:**
 One of the values in a list or other sequence.

**nested list:**
A list that is an element of another list.

**delimiter:**
 A character or string used to indicate where a string should be split.

**equivalent:**
 Having the same value.

**identical:**
 Being the same object (which implies equivalence).

**reference:**
 The association between a variable and its value.

**aliased:**
If there is more than one variable that refers to an object, the object is aliased.

**attribute:**
 One of the named values associated with an object.

## Exercises

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

### Ask a virtual assistant

In this chapter, I used the words "contrafibularities" and "anaspeptic", but they are not actually English words.
They were used in the British television show *Black Adder*, Season 3, Episode 2, "Ink and Incapability".

However, when I asked ChatGPT 3.5 (August 3, 2023 version) where those words came from, it initially claimed they are from Monty Python, and later claimed they are from the Tom Stoppard play *Rosencrantz and Guildenstern Are Dead*.

If you ask now, you might get different results.
But this example is a reminder that virtual assistants are not always accurate, so you should check whether the results are correct.
As you gain experience, you will get a sense of which questions virtual assistants can answer reliably.
In this example, a conventional web search can identify the source of these words quickly.

If you get stuck on any of the exercises in this chapter, consider asking a virtual assistant for help.
If you get a result that uses features we haven't learned yet, you can assign the VA a "role".

For example, before you ask a question try typing "Role: Basic Python Programming Instructor".
After that, the responses you get should use only basic features.
If you still see features we you haven't learned, you can follow up with "Can you write that using only basic Python features?"

### Exercise

Two words are anagrams if you can rearrange the letters from one to spell the other.
For example, `tops` is an anagram of `stop`.

One way to check whether two words are anagrams is to sort the letters in both words.
If the lists of sorted letters are the same, the words are anagrams.

Write a function called `is_anagram` that takes two strings and returns `True` if they are anagrams.

To get you started, here's an outline of the function with doctests.

In [ ]:
def is_anagram(word1, word2):
    """Checks whether two words are anagrams.

    >>> is_anagram('tops', 'stop')
    True
    >>> is_anagram('skate', 'takes')
    True
    >>> is_anagram('tops', 'takes')
    False
    >>> is_anagram('skate', 'stop')
    False
    """
    return None

You can use `doctest` to test your function.

In [ ]:
from doctest import run_docstring_examples

def run_doctests(func):
    run_docstring_examples(func, globals(), name=func.__name__)

run_doctests(is_anagram)

Using your function and the word list, find all the anagrams of `takes`.

### Exercise

Python provides a built-in function called `reversed` that takes as an argument a sequence of elements -- like a list or string -- and returns a `reversed` object that contains the elements in reverse order.

In [ ]:
reversed('parrot')

If you want the reversed elements in a list, you can use the `list` function.

In [ ]:
list(reversed('parrot'))

Or if you want them in a string, you can use the `join` method.

In [ ]:
''.join(reversed('parrot'))

So we can write a function that reverses a word like this.

In [ ]:
def reverse_word(word):
    return ''.join(reversed(word))

A palindrome is a word that is spelled the same backward and forward, like "noon" and "rotator".
Write a function called `is_palindrome` that takes a string argument and returns `True` if it is a palindrome and `False` otherwise.

Here's an outline of the function with doctests you can use to check your function.

In [ ]:
def is_palindrome(word):
    """Check if a word is a palindrome.

    >>> is_palindrome('bob')
    True
    >>> is_palindrome('alice')
    False
    >>> is_palindrome('a')
    True
    >>> is_palindrome('')
    True
    """
    return False

In [ ]:
run_doctests(is_palindrome)

You can use the following loop to find all of the palindromes in the word list with at least 7 letters.

In [ ]:
for word in word_list:
    if len(word) >= 7 and is_palindrome(word):
        print(word)

### Exercise

Write a function called `reverse_sentence` that takes as an argument a string that contains any number of words separated by spaces.
It should return a new string that contains the same words in reverse order.
For example, if the argument is "Reverse this sentence", the result should be "Sentence this reverse".

Hint: You can use the `capitalize` methods to capitalize the first word and convert the other words to lowercase.

To get you started, here's an outline of the function with doctests.

In [ ]:
def reverse_sentence(input_string):
    '''Reverse the words in a string and capitalize the first.

    >>> reverse_sentence('Reverse this sentence')
    'Sentence this reverse'

    >>> reverse_sentence('Python')
    'Python'

    >>> reverse_sentence('')
    ''

    >>> reverse_sentence('One for all and all for one')
    'One for all and all for one'
    '''
    return None

In [ ]:
run_doctests(reverse_sentence)

### Exercise

Write a function called `total_length` that takes a list of strings and returns the total length of the strings.
The total length of the words in `word_list` should be $902{,}728$.

[Think Python: 3rd Edition](https://allendowney.github.io/ThinkPython/index.html)

Copyright 2024 [Allen B. Downey](https://allendowney.com)

Code license: [MIT License](https://mit-license.org/)

Text license: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)